.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__title {
  font-family: Cabinet Grotesk;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  opacity: 0px;
  margin: 0;
}
.modal__container {
  background-color: #fff;
  padding: 28px 28px 36px;
  max-width: 498px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  position: relative;
}

.modal__content_type_image {
  max-width: 498px;
  height: 610px;
  border-radius: 15px;
  background-color: white;
  padding: 0;
}

.modal__image {
  width: 498px;
  height: 498px;
  border-radius: 15px;
  object-fit: cover;
  object-position: center;
  font-weight: 700;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 24px;
  gap: 24px;
}

.modal__input {
  display: block;
  border: 0;
  border-bottom: 1px solid #000;
  width: 100%;
  margin-top: 8px;
}

.modal__radio-fieldset {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.modal__radio-buttons {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 12px 0px;
  font-family: Cabinet Grotesk;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  background: rgba(255, 255, 255, 1);
  accent-color: black;
  color: rgba(0, 0, 0, 0.5);
}

.modal__submit {
  width: 124px;
  height: 36px;
  padding: 8px 16px;
  gap: 8px;
  border-radius: 4px;
  opacity: 0px;
  font-family: Cabinet Grotesk;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  border: none;
  color: rgba(255, 255, 255, 1);
  background: rgba(0, 0, 0, 0.3);
}

.modal__register-btn {
  margin: 16px 0 0;
  background: #fff;
  color: #00000080;
  border: none;
  position: absolute;
  bottom: 42px;
  left: 185px;
  padding: 0;
  cursor: pointer;
}

.modal__btn-login {
  margin: 16px 0 0;
  background: #fff;
  color: #00000080;
  border: none;
  position: absolute;
  bottom: 42px;
  left: 185px;
  padding: 0;
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  .modal__btn-signup {
    bottom: 48px;
  }
}
