.item__card {
  width: 325px;
  position: relative;
  display: flex;
  justify-content: center;
}

.item__container {
  position: absolute;
  top: 15px;
  width: 100%;
  display: flex;
}

.item__button-container {
  display: flex;
  margin: 0 auto;
  gap: 10px;
}

.item__name {
  top: 15px;
  margin: 0;
  padding: 2px 12px 2px 12px;
  background: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 0.6);
  font-family: Cabinet Grotesk;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  border-radius: 4px;
}

.item__like-button {
  background-color: transparent;
  width: fit-content;
  padding: 0;
  height: fit-content;
  border: none;
  width: 22px;
  height: 18px;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}

.item__like-button_active {
  /* background-color: white; */
  transform: scale(1.2);
  object-fit: contain;
}

.item__image {
  max-width: 325px;
  height: 328px;
  border-radius: 19px;
  object-fit: cover;
}
