.modal__caption {
  font-family: Cabinet Grotesk;
  font-size: 20px;
  color: black;
  margin: 0;
}

.modal__weather {
  color: black;
  margin: 12px 0 0 0;
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  font-weight: 700;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  width: 20px;
  height: 20px;
  color: #000000;
}

.modal__delete {
  display: flex;
  cursor: pointer;
  background-color: white;
  border: none;
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  font-weight: 700;
  color: orangered;
  position: relative;
  left: 325px;
  bottom: 60px;
}

.modal__footer {
  padding: 20px 0 32px 32px;
}
